
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Aggiungi questi stili personalizzati */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block; /* Sovrascrive il display: flex */
}

:root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}